body {
    background-color: #343F4B;
}

.pagination {
    font-family: center;
    text-align: center;
    padding: 8px;
    margin-top: 15px;
    font-size: 30px;
  }

  .number {
    display: inline-block;
    padding: 4px 15px;
    color: white;
    border-radius: 10px;
    background: #DC304B;
    margin: 0px 5px;
    cursor: pointer;
  }
  .number:hover, .number.active {
    background: #9D1732;
  }

.pBlocks{
    position: absolute;
    top: 0;
    width: 15%;
    height: 800px;   
}

#rg{
    margin-left: 79%;
}

#lf{
    margin-left: 5%;
}

#header{
    text-align: center;
    font-family: header;
    font-size: 100px;
    color:white;
    margin-bottom: 30px;
}

.middleblock{
    font-family: middleR, cursive;
    font-size: 30px;
    color: white;
    text-align: center;
    position: relative;
    perspective: 500px;
    transform-style: preserve-3d;
}


.name{
    position: relative;
    font-family: middleB,cursive;
    font-size: 50px;
}

.author{
    position: relative;
    font-family: middleB,cursive;
    font-size: 40px;
    left: 100px;
}

@font-face {
    font-family: header;
    src: url("fonts/Lobster-Regular.ttf");
}

@font-face {
    font-family: middleR;
    src: url("fonts/DancingScript-Regular.ttf");
}
@font-face {
    font-family: middleB;
    src: url("fonts/DancingScript-Bold.ttf");
}

